@import "@iac/tailwind-config";
@import "@iac/ui/styles.css";
@import "tailwindcss";
@plugin "tailwindcss-animate";

* {
  @apply outline-none;

  ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-base-subtle);
    border-radius: 8px;
  }
}
